CXFPerformanceInterceptors/src/main/resources/Collator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Collator"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tri="http://www.example.org/schema/Collator"
   xmlns:tns="http://www.example.org/contract/Collator"
   targetNamespace="http://www.example.org/contract/Collator">
   <wsdl:types>
      
      
      <xsd:schema targetNamespace="http://www.example.org/schema/Collator">
         <xsd:element name="GetLogsRequest">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="AndReset" type="xsd:boolean"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="GetLogsResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="logs" type="xsd:string" minOccurs="1"  maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ProduceExcelRequest">
            <xsd:complexType>
               <xsd:sequence>
               	  <xsd:element name="ExcelIdentifier" type="xsd:string"/>
                  <xsd:element name="AndReset" type="xsd:boolean"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ProduceExcelResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="success" type="xsd:boolean"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="GetLogsRequest">
      <wsdl:part element="tri:GetLogsRequest" name="parameters" />
   </wsdl:message>
   <wsdl:message name="GetLogsResponse">
      <wsdl:part element="tri:GetLogsResponse" name="parameters" />
   </wsdl:message>
   <wsdl:message name="ProduceExcelRequest">
      <wsdl:part element="tri:ProduceExcelRequest" name="parameters" />
   </wsdl:message>
   <wsdl:message name="ProduceExcelResponse">
      <wsdl:part element="tri:ProduceExcelResponse" name="parameters" />
   </wsdl:message>
   
   <wsdl:portType name="CollatorPortType">
      <wsdl:operation name="GetLogs">
         <wsdl:input message="tns:GetLogsRequest" />
         <wsdl:output message="tns:GetLogsResponse" />
      </wsdl:operation>
      <wsdl:operation name="ProduceExcel">
         <wsdl:input message="tns:ProduceExcelRequest" />
         <wsdl:output message="tns:ProduceExcelResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CollatorBinding" type="tns:CollatorPortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="GetLogs">
         <soap:operation soapAction="GetLogs"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output><soap:body use="literal"/></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ProduceExcel">
         <soap:operation soapAction="ProduceExcel"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output><soap:body use="literal"/></wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CollatorService">
      <wsdl:port name="CollatorPort" binding="tns:CollatorBinding">
         <soap:address
            location="http://localhost:8080/Collator/services/Collator"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions> 

